.formContainer {
    max-width: 540px;
    padding: 40px;

    background: #FFFFFF;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;

    @media (max-width:425px) {
        padding: 24px;
    }

    .form {

        .inputContainer {
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            @media (max-width:425px) {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }

            .inputWrapper {
                position: relative;

                .iconError {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 50%;
                    right: 27px;
                    transform: translateY(-50%);
                }

            }
        }

        .input {
            width: 100%;
            border: 1px solid #DEDEDE;
            border-radius: 5px;
            padding: 15px 32px;

            font-size: 14px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0.25px;
            color: #3D3B48;

            &::placeholder {
                font-size: 14px;
                font-weight: 600;
                line-height: 26px;
                letter-spacing: 0.25px;
                color: #3D3B48;
                opacity: 0.75;
            }

            &:focus {
                border: 1px solid #5E54A4;
            }

            &_error {
                padding: 15px 62px 15px 32px;
                border: 1px solid #FF7979;

                &:not(:focus)::placeholder {
                    color: transparent;
                }

                &:focus {
                    border: 1px solid #FF7979;
                }

                &::placeholder {
                    color: #FF7979;
                    opacity: 0.75;
                }
            }
        }

        .errorContainer {
            font-size: 11px;
            font-style: italic;
            font-weight: 500;
            line-height: 17px;
            color: #FF7979;
            text-align: right;

            overflow: hidden;

            .errorParagraph {
                padding-top: 6px;
            }
        }

        .buttonSubmit {
            width: 100%;
            padding: 15px;

            font-size: 15px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 1px;
            color: #FFFFFF;

            background: #38CC8B;
            box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
            border-radius: 5px;

            transition: all 0.2s ease 0s;

            &:active {
                background: #77E2B3;
                transition: all 0.15s ease 0s;
            }
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    .assent {
        font-size: 11px;
        font-weight: 500;
        line-height: 26px;
        color: #BAB7D4;

        @media (max-width:425px) {
            line-height: 21px;
        }

        text-align: center;

        .assentSpan {
            font-weight: 700;
            color: #FF7979;
        }
    }
}